<html>
    <head>
        <title>Ser millonario$ mientras revienta todo - blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ser millonario$ mientras revienta todo - blog</a></h1>
        </div>

        <div>
            <p>publicado: 30.07.2019, 15:14</p>
            <h2><a href="">Primer post</a></h2>
            <p>Dos puanenses se vuelven millonarios repentinamente invirtiendo en criptomonedas, acciones y divisas. Todo habría comenzado cuando estos ígnotos inversores entraron al mercado con 100 dólares montando una computadora vieja atada con alambre. Entre las jocosas anécdotas puede reseñarse el día en que movieron un millon de dólares en carretilla por las calles de ripio de El Bolsón.</p>
        </div>

        <div>
            <p>publicado: 30.07.2019, 15:14</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Los puanenses millonarios viajan al espacio. Según tracendió en los medios de todo el mundo, los puanenses que ganaron más dinero que Warren Buffet en tan solo un mes de operaciones habrían invertido en una empresa de viajes intergalacticos. La empresa estaría preparando su primer viaje tripulado fuera del sistema solar.</p>
        </div>
    </body>
</html>
